In [1]:
import pycountry
import pandas as pd
from sqlalchemy import create_engine
from selenium import webdriver
from bs4 import BeautifulSoup

In [2]:
postgresql_url = 'postgresql+psycopg2://postgres:postgres@localhost:5432/wageanalysis'
engine = create_engine(postgresql_url)

In [3]:
driver = webdriver.Chrome()
driver.get('https://statisticstimes.com/geography/countries-by-continents.php')
page = driver.page_source
soup = BeautifulSoup(page, 'html.parser')
driver.quit()

In [4]:
table =  soup.find('table', class_='display dataTable no-footer').find('tbody')

In [6]:
df = pd.DataFrame()
for row in table.find_all('tr'):
    columns = row.find_all('td')
    df_row = {
        "name": columns[1].text,
        "code": columns[2].text,
        "code_m49": columns[3].text,
        "region_1": columns[4].text,
        "region_2": columns[5].text,
        "continent": columns[6].text
    }
    df = pd.concat([df,pd.DataFrame(df_row, index=[0])], ignore_index=True)
print(df.head())

             name code code_m49         region_1 region_2 continent
0     Afghanistan  AFG      004    Southern Asia               Asia
1   Ã…land Islands  ALA      248  Northern Europe             Europe
2         Albania  ALB      008  Southern Europe             Europe
3         Algeria  DZA      012  Northern Africa             Africa
4  American Samoa  ASM      016        Polynesia            Oceania

In [7]:
df.to_sql('country_continent', engine, schema='raw', if_exists='replace', index=False)

249