In [41]:
from bs4 import BeautifulSoup
from selenium import webdriver
from sqlalchemy import create_engine
from selenium.webdriver.common.by import By
import json
import pandas as pd

In [42]:
COUNTRY = 'Brazil'

if driver:
    driver.quit()
    
driver = webdriver.Chrome()
driver.maximize_window()

In [43]:
driver.get('https://www.numbeo.com/cost-of-living/')

In [44]:
accept_cookies = driver.find_element(By.ID,'accept-choices')

In [45]:
accept_cookies.click()

In [46]:
country = driver.find_element(By.XPATH, f"//a[contains(text(), '{COUNTRY}')]")

In [47]:
print(country.text)

Brazil

In [48]:
try:
    country.click()
except Exception as e:
    print(e)

In [49]:
page = driver.page_source
soup = BeautifulSoup(page, 'html.parser')

In [50]:
summary_div = soup.find('div', class_='seeding-call table_color summary limit_size_ad_right padding_lower other_highlight_color')

In [51]:
summary_list = summary_div.find('ul')

In [52]:
summary_list

<ul><li class="disabled_on_small_devices_li">A family of four estimated monthly costs are <span class="emp_number">1,772.8€ <span class="in_other_currency">(10,097.6R$)</span></span> without rent.</li><li class="disabled_on_small_devices_li">A single person estimated monthly costs are <span class="emp_number">499.9€ <span class="in_other_currency">(2,847.2R$)</span></span> without rent.</li><li>Cost of living in <span class="purple_light">Brazil</span> is, on average, 29.7%<span class="green_light"> lower</span> than in <span class="rose_light">Portugal</span>.</li><li>Rent in <span class="purple_light">Brazil</span> is, on average, 65.9%<span class="green_light"> lower</span> than in <span class="rose_light">Portugal</span>.</li></ul>

In [53]:
summary = summary_list.find_all('li')
summary_dict = {}
summary_dict['family_of_4'] = summary[0].text
summary_dict['single'] = summary[1].text
summary_dict['cost_comparison'] = summary[2].text
summary_dict['rent_comparison'] = summary[3].text

summary_df = pd.DataFrame([summary_dict])

In [54]:
summary_df.head()

,family_of_4,single,cost_comparison,rent_comparison
0,A family of four estimated monthly costs are 1...,A single person estimated monthly costs are 49...,"Cost of living in Brazil is, on average, 29.7%...","Rent in Brazil is, on average, 65.9% lower tha..."

In [55]:
discretionary_values_table = soup.find('table', class_='data_wide_table new_bar_table')

In [56]:
discretionary_values_table

<table class="data_wide_table new_bar_table"><tbody><tr> <th class="highlighted_th prices"><span class="category_icon_wrapper"><img alt="" class="category_icon" src="https://www.numbeo.com/images/categories/baseline-local-dining.svg"/>
</span>
<div class="category_title">Restaurants</div></th> <th class="highlighted_th th_no_highlight_a_right prices"> <a class="edit_href" href="https://www.numbeo.com/common/form.jsp?country=Brazil&amp;returnUrl=https%3A%2F%2Fwww.numbeo.com%2Fcost-of-living%2Fcountry_result.jsp%3Fcountry%3DBrazil&amp;current=0&amp;section=true&amp;tracking=editHref" rel="nofollow"><img alt="" src="https://www.numbeo.com/images/baseline-edit.svg" style="vertical-align: baseline; display: inline-block;"/><span class="edit_link"> Edit </span></a></th>
<th class="th_no_highlight prices" style="padding-left: 132px; text-align: left;">Range</th>
</tr>
<tr><td>Meal, Inexpensive Restaurant </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">30.00 R$</span></td>
<td class="priceBarTd">
<span class="barTextLeft">
20.00</span><span class="barLeft" style="width: 16px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 32px;"></span><span class="barTextRight">50.00</span></td>
</tr>
<tr><td class="tr_highlighted">Meal for 2 People, Mid-range Restaurant, Three-course </td> <td class="priceValue tr_highlighted" style="text-align: right"> <span class="first_currency">150.00 R$</span></td>
<td class="priceBarTd tr_highlighted">
<span class="barTextLeft">
100.00</span><span class="barLeft" style="width: 16px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 49px;"></span><span class="barTextRight">300.00</span></td>
</tr>
<tr><td>McMeal at McDonalds (or Equivalent Combo Meal) </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">35.00 R$</span></td>
<td class="priceBarTd">
<span class="barTextLeft">
30.00</span><span class="barLeft" style="width: 6px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 6px;"></span><span class="barTextRight">40.00</span></td>
</tr>
<tr><td class="tr_highlighted">Domestic Beer (0.5 liter draught) </td> <td class="priceValue tr_highlighted" style="text-align: right"> <span class="first_currency">10.00 R$</span></td>
<td class="priceBarTd tr_highlighted">
<span class="barTextLeft">
5.00</span><span class="barLeft" style="width: 24px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 29px;"></span><span class="barTextRight">16.00</span></td>
</tr>
<tr><td>Imported Beer (0.33 liter bottle) </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">15.00 R$</span></td>
<td class="priceBarTd">
<span class="barTextLeft">
10.00</span><span class="barLeft" style="width: 16px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 32px;"></span><span class="barTextRight">25.00</span></td>
</tr>
<tr><td class="tr_highlighted">Cappuccino (regular) </td> <td class="priceValue tr_highlighted" style="text-align: right"> <span class="first_currency">9.22 R$</span></td>
<td class="priceBarTd tr_highlighted">
<span class="barTextLeft">
5.00</span><span class="barLeft" style="width: 22px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 30px;"></span><span class="barTextRight">15.00</span></td>
</tr>
<tr><td>Coke/Pepsi (0.33 liter bottle) </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">5.88 R$</span></td>
<td class="priceBarTd">
<span class="barTextLeft">
4.00</span><span class="barLeft" style="width: 15px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 17px;"></span><span class="barTextRight">8.00</span></td>
</tr>
<tr><td class="tr_highlighted">Water (0.33 liter bottle)  </td> <td class="priceValue tr_highlighted" style="text-align: right"> <span class="first_currency">3.64 R$</span></td>
<td class="priceBarTd tr_highlighted">
<span class="barTextLeft">
2.50</span><span class="barLeft" style="width: 15px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 31px;"></span><span class="barTextRight">6.00</span></td>
</tr>
<tr> <th class="highlighted_th prices"><span class="category_icon_wrapper"><img alt="" class="category_icon" src="https://www.numbeo.com/images/categories/baseline-local-grocery-store.svg"/>
</span>
<div class="category_title">Markets</div></th> <th class="highlighted_th th_no_highlight_a_right prices"> <a class="edit_href" href="https://www.numbeo.com/common/form.jsp?country=Brazil&amp;returnUrl=https%3A%2F%2Fwww.numbeo.com%2Fcost-of-living%2Fcountry_result.jsp%3Fcountry%3DBrazil&amp;current=1&amp;section=true&amp;tracking=editHref" rel="nofollow"><img alt="" src="https://www.numbeo.com/images/baseline-edit.svg" style="vertical-align: baseline; display: inline-block;"/><span class="edit_link"> Edit </span></a></th>
<th class="th_no_highlight prices"></th>
</tr>
<tr><td>Milk (regular), (1 liter) </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">5.42 R$</span></td>
<td class="priceBarTd">
<span class="barTextLeft">
4.00</span><span class="barLeft" style="width: 12px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 18px;"></span><span class="barTextRight">7.50</span></td>
</tr>
<tr><td class="tr_highlighted">Loaf of Fresh White Bread (500g) </td> <td class="priceValue tr_highlighted" style="text-align: right"> <span class="first_currency">8.11 R$</span></td>
<td class="priceBarTd tr_highlighted">
<span class="barTextLeft">
5.00</span><span class="barLeft" style="width: 18px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 42px;"></span><span class="barTextRight">14.99</span></td>
</tr>
<tr><td>Rice (white), (1kg) </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">6.07 R$</span></td>
<td class="priceBarTd">
<span class="barTextLeft">
4.00</span><span class="barLeft" style="width: 16px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 31px;"></span><span class="barTextRight">10.00</span></td>
</tr>
<tr><td class="tr_highlighted">Eggs (regular) (12) </td> <td class="priceValue tr_highlighted" style="text-align: right"> <span class="first_currency">11.18 R$</span></td>
<td class="priceBarTd tr_highlighted">
<span class="barTextLeft">
6.00</span><span class="barLeft" style="width: 22px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 30px;"></span><span class="barTextRight">18.00</span></td>
</tr>
<tr><td>Local Cheese (1kg) </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">46.54 R$</span></td>
<td class="priceBarTd">
<span class="barTextLeft">
29.90</span><span class="barLeft" style="width: 17px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 39px;"></span><span class="barTextRight">84.00</span></td>
</tr>
<tr><td class="tr_highlighted">Chicken Fillets (1kg) </td> <td class="priceValue tr_highlighted" style="text-align: right"> <span class="first_currency">19.75 R$</span></td>
<td class="priceBarTd tr_highlighted">
<span class="barTextLeft">
12.00</span><span class="barLeft" style="width: 18px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 18px;"></span><span class="barTextRight">27.00</span></td>
</tr>
<tr><td>Beef Round (1kg) (or Equivalent Back Leg Red Meat) </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">40.54 R$</span></td>
<td class="priceBarTd">
<span class="barTextLeft">
30.00</span><span class="barLeft" style="width: 12px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 13px;"></span><span class="barTextRight">52.00</span></td>
</tr>
<tr><td class="tr_highlighted">Apples (1kg) </td> <td class="priceValue tr_highlighted" style="text-align: right"> <span class="first_currency">10.62 R$</span></td>
<td class="priceBarTd tr_highlighted">
<span class="barTextLeft">
5.00</span><span class="barLeft" style="width: 25px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 20px;"></span><span class="barTextRight">15.00</span></td>
</tr>
<tr><td>Banana (1kg) </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">6.85 R$</span></td>
<td class="priceBarTd">
<span class="barTextLeft">
4.00</span><span class="barLeft" style="width: 20px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 36px;"></span><span class="barTextRight">12.00</span></td>
</tr>
<tr><td class="tr_highlighted">Oranges (1kg) </td> <td class="priceValue tr_highlighted" style="text-align: right"> <span class="first_currency">5.48 R$</span></td>
<td class="priceBarTd tr_highlighted">
<span class="barTextLeft">
2.78</span><span class="barLeft" style="width: 24px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 58px;"></span><span class="barTextRight">12.00</span></td>
</tr>
<tr><td>Tomato (1kg) </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">8.12 R$</span></td>
<td class="priceBarTd">
<span class="barTextLeft">
4.00</span><span class="barLeft" style="width: 24px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 23px;"></span><span class="barTextRight">12.00</span></td>
</tr>
<tr><td class="tr_highlighted">Potato (1kg) </td> <td class="priceValue tr_highlighted" style="text-align: right"> <span class="first_currency">5.94 R$</span></td>
<td class="priceBarTd tr_highlighted">
<span class="barTextLeft">
3.00</span><span class="barLeft" style="width: 24px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 33px;"></span><span class="barTextRight">9.99</span></td>
</tr>
<tr><td>Onion (1kg) </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">5.88 R$</span></td>
<td class="priceBarTd">
<span class="barTextLeft">
3.00</span><span class="barLeft" style="width: 23px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 34px;"></span><span class="barTextRight">9.98</span></td>
</tr>
<tr><td class="tr_highlighted">Lettuce (1 head) </td> <td class="priceValue tr_highlighted" style="text-align: right"> <span class="first_currency">3.78 R$</span></td>
<td class="priceBarTd tr_highlighted">
<span class="barTextLeft">
2.00</span><span class="barLeft" style="width: 22px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 29px;"></span><span class="barTextRight">6.00</span></td>
</tr>
<tr><td>Water (1.5 liter bottle) </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">3.56 R$</span></td>
<td class="priceBarTd">
<span class="barTextLeft">
2.00</span><span class="barLeft" style="width: 21px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 33px;"></span><span class="barTextRight">6.00</span></td>
</tr>
<tr><td class="tr_highlighted">Bottle of Wine (Mid-Range) </td> <td class="priceValue tr_highlighted" style="text-align: right"> <span class="first_currency">40.00 R$</span></td>
<td class="priceBarTd tr_highlighted">
<span class="barTextLeft">
20.00</span><span class="barLeft" style="width: 24px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 24px;"></span><span class="barTextRight">60.00</span></td>
</tr>
<tr><td>Domestic Beer (0.5 liter bottle) </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">6.32 R$</span></td>
<td class="priceBarTd">
<span class="barTextLeft">
4.00</span><span class="barLeft" style="width: 17px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 28px;"></span><span class="barTextRight">10.00</span></td>
</tr>
<tr><td class="tr_highlighted">Imported Beer (0.33 liter bottle) </td> <td class="priceValue tr_highlighted" style="text-align: right"> <span class="first_currency">12.09 R$</span></td>
<td class="priceBarTd tr_highlighted">
<span class="barTextLeft">
6.00</span><span class="barLeft" style="width: 24px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 32px;"></span><span class="barTextRight">20.00</span></td>
</tr>
<tr><td>Cigarettes 20 Pack (Marlboro) </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">12.00 R$</span></td>
<td class="priceBarTd">
<span class="barTextLeft">
10.00</span><span class="barLeft" style="width: 7px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 13px;"></span><span class="barTextRight">15.39</span></td>
</tr>
<tr> <th class="highlighted_th prices"><span class="category_icon_wrapper"><img alt="" class="category_icon" src="https://www.numbeo.com/images/categories/baseline-drive-eta.svg"/>
</span>
<div class="category_title">Transportation</div></th> <th class="highlighted_th th_no_highlight_a_right prices"> <a class="edit_href" href="https://www.numbeo.com/common/form.jsp?country=Brazil&amp;returnUrl=https%3A%2F%2Fwww.numbeo.com%2Fcost-of-living%2Fcountry_result.jsp%3Fcountry%3DBrazil&amp;current=2&amp;section=true&amp;tracking=editHref" rel="nofollow"><img alt="" src="https://www.numbeo.com/images/baseline-edit.svg" style="vertical-align: baseline; display: inline-block;"/><span class="edit_link"> Edit </span></a></th>
<th class="th_no_highlight prices"></th>
</tr>
<tr><td>One-way Ticket (Local Transport) </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">5.00 R$</span></td>
<td class="priceBarTd">
<span class="barTextLeft">
4.40</span><span class="barLeft" style="width: 5px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 9px;"></span><span class="barTextRight">6.00</span></td>
</tr>
<tr><td class="tr_highlighted">Monthly Pass (Regular Price) </td> <td class="priceValue tr_highlighted" style="text-align: right"> <span class="first_currency">221.74 R$</span></td>
<td class="priceBarTd tr_highlighted">
<span class="barTextLeft">
135.00</span><span class="barLeft" style="width: 18px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 26px;"></span><span class="barTextRight">338.00</span></td>
</tr>
<tr><td>Taxi Start (Normal Tariff) </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">6.00 R$</span></td>
<td class="priceBarTd">
<span class="barTextLeft">
5.00</span><span class="barLeft" style="width: 8px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 32px;"></span><span class="barTextRight">10.00</span></td>
</tr>
<tr><td class="tr_highlighted">Taxi 1km (Normal Tariff) </td> <td class="priceValue tr_highlighted" style="text-align: right"> <span class="first_currency">5.00 R$</span></td>
<td class="priceBarTd tr_highlighted">
<span class="barTextLeft">
3.00</span><span class="barLeft" style="width: 19px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 39px;"></span><span class="barTextRight">9.00</span></td>
</tr>
<tr><td>Taxi 1hour Waiting (Normal Tariff) </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">40.00 R$</span></td>
<td class="priceBarTd">
<span class="barTextLeft">
25.00</span><span class="barLeft" style="width: 18px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 24px;"></span><span class="barTextRight">60.00</span></td>
</tr>
<tr><td class="tr_highlighted">Gasoline (1 liter) </td> <td class="priceValue tr_highlighted" style="text-align: right"> <span class="first_currency">5.53 R$</span></td>
<td class="priceBarTd tr_highlighted">
<span class="barTextLeft">
5.00</span><span class="barLeft" style="width: 3px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 4px;"></span><span class="barTextRight">6.00</span></td>
</tr>
<tr><td>Volkswagen Golf 1.4 90 KW Trendline (Or Equivalent New Car) </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">112,190.00 R$</span></td>
<td class="priceBarTd">
<span class="barTextLeft">
90,000.00</span><span class="barLeft" style="width: 9px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 14px;"></span><span class="barTextRight">145,000.00</span></td>
</tr>
<tr><td class="tr_highlighted">Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equivalent New Car) </td> <td class="priceValue tr_highlighted" style="text-align: right"> <span class="first_currency">149,395.01 R$</span></td>
<td class="priceBarTd tr_highlighted">
<span class="barTextLeft">
140,000.00</span><span class="barLeft" style="width: 2px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 3px;"></span><span class="barTextRight">160,000.00</span></td>
</tr>
<tr> <th class="highlighted_th prices"><span class="category_icon_wrapper"><img alt="" class="category_icon" src="https://www.numbeo.com/images/categories/envelope-letter.svg"/>
</span>
<div class="category_title">Utilities (Monthly)</div></th> <th class="highlighted_th th_no_highlight_a_right prices"> <a class="edit_href" href="https://www.numbeo.com/common/form.jsp?country=Brazil&amp;returnUrl=https%3A%2F%2Fwww.numbeo.com%2Fcost-of-living%2Fcountry_result.jsp%3Fcountry%3DBrazil&amp;current=3&amp;section=true&amp;tracking=editHref" rel="nofollow"><img alt="" src="https://www.numbeo.com/images/baseline-edit.svg" style="vertical-align: baseline; display: inline-block;"/><span class="edit_link"> Edit </span></a></th>
<th class="th_no_highlight prices"></th>
</tr>
<tr><td>Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">382.42 R$</span></td>
<td class="priceBarTd">
<span class="barTextLeft">
242.86</span><span class="barLeft" style="width: 17px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 49px;"></span><span class="barTextRight">765.00</span></td>
</tr>
<tr><td class="tr_highlighted">Mobile Phone Monthly Plan with Calls and 10GB+ Data </td> <td class="priceValue tr_highlighted" style="text-align: right"> <span class="first_currency">87.91 R$</span></td>
<td class="priceBarTd tr_highlighted">
<span class="barTextLeft">
40.00</span><span class="barLeft" style="width: 26px;"></span><span class="barMid"><span class="barMid-nocss">-</span></span><span class="barRight" style="width: 19px;"></span><span class="barTextRight">122.00</span></td>
</tr>
<tr><td>Internet (60 Mbps or More, Unlimited Data, Cable/ADSL) </td> <td class="priceValue" style="text-align: right"> <span class="first_currency">105.09 R$</span></td>
<td class="priceBarTd">
<span class="barTextLeft">

In [57]:
details_list = discretionary_values_table.find_all('tr')

In [58]:
details = []
for element in details_list:
    detail_dict = {}
    if element.find('th'):
        continue
        
    valid_details = element.find_all('td')
    detail_dict['country'] = COUNTRY
    detail_dict['city'] = None
    detail_dict['type'] = valid_details[0].text
    detail_dict['amount'] = valid_details[1].text
    detail_dict['range'] = valid_details[2].text
    
    details.append(detail_dict)

In [59]:
details_df = pd.DataFrame(details)

In [60]:
details_df.head(10)

,country,city,type,amount,range
0,Brazil,None,"Meal, Inexpensive Restaurant",30.00 R$,\n\n20.00-50.00
1,Brazil,None,"Meal for 2 People, Mid-range Restaurant, Three...",150.00 R$,\n\n100.00-300.00
2,Brazil,None,McMeal at McDonalds (or Equivalent Combo Meal),35.00 R$,\n\n30.00-40.00
3,Brazil,None,Domestic Beer (0.5 liter draught),10.00 R$,\n\n5.00-16.00
4,Brazil,None,Imported Beer (0.33 liter bottle),15.00 R$,\n\n10.00-25.00
5,Brazil,None,Cappuccino (regular),9.22 R$,\n\n5.00-15.00
6,Brazil,None,Coke/Pepsi (0.33 liter bottle),5.88 R$,\n\n4.00-8.00
7,Brazil,None,Water (0.33 liter bottle),3.64 R$,\n\n2.50-6.00
8,Brazil,None,"Milk (regular), (1 liter)",5.42 R$,\n\n4.00-7.50
9,Brazil,None,Loaf of Fresh White Bread (500g),8.11 R$,\n\n5.00-14.99

In [61]:
postgresql_url = 'postgresql+psycopg2://postgres:postgres@localhost:5432/wageanalysis'
engine = create_engine(postgresql_url)

In [62]:
details_df.to_sql('country_expenses_detail', engine, schema='raw', if_exists='replace', index=False)

55

In [63]:
summary_df.to_sql('country_expenses', engine, schema='raw', if_exists='replace', index=False)

1